<h1 style="text-align: center;">Maps</h1>

<style>
  /* Set the size of the div element that contains the map */
  #map {
    height: 600px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }
</style>

<div id="map"></div>

<div class="inputLoc" style="text-align: center;">
  <form action="">
    <textarea
      style="margin-top: 15px; resize: none;"
      name=""
      onkeyup="checkInput(this)"
      id="LongIn"
      cols="10"
      rows="1"
      placeholder="Longitude"
    ></textarea>
    <textarea
      style="margin-top: 15px; resize: none; margin-left: 5px;"
      name=""
      id="LatIn"
      onkeyup="checkInput(this)"
      cols="10"
      rows="1"
      placeholder="Latitude"
    ></textarea
    ><textarea
      style="margin-top: 15px; resize: none; margin-left: 5px;"
      name=""
      id="titleIn"
      cols="10"
      rows="1"
      placeholder="Description"
    ></textarea>
  </form>
  <button
    style="margin-top: 10px; font-size: medium; cursor: grab;"
    id="btnAddloc"
  >
    Add Location
  </button>
</div>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOonoY7LIvlYYiG319PloED5zVq7MUfkM&callback=initMap"
></script>

<script>
  //var long = document.getElementById("LongIn").value;
  //var lat = document.getElementById("LatIn").value;
  //var locationInCord = { long, lat };
  //var titleInput = document.getElementById("titleIn").value.toString();
  var Mainmap;
  var labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  var labelIndex = 0;

  document.getElementById("btnAddloc").onclick = function () {
    var long = parseFloat(document.getElementById("LongIn").value);
    var lat = parseFloat(document.getElementById("LatIn").value);
    var coord = { lng: long, lat: lat };
    var titleInput = document.getElementById("titleIn").value.toString();
    //console.log(coord);
    addMarker(coord, titleInput);
  };
  function addMarker(coordi, title) {
    var marker = new google.maps.Marker({
      position: coordi,
      label: title,
      map: Mainmap,
    });
  }

  function initMap() {
    var myLatLng = { lat: 43.4643, lng: -80.5204 };
    var GRHCoord = { lat: 43.45528, lng: -80.505836 };
    var SMHCoord = {lat: 43.432629, lng: -80.512352};

    Mainmap = new google.maps.Map(document.getElementById("map"), {
      zoom: 10,
      center: myLatLng,
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: Mainmap,
      label: "Home",
    });
    var GRHMarker = new google.maps.Marker({
      position: GRHCoord,
      map: Mainmap,
      label: "Grand River Hospital",
    });
    var SMHMarker = new google.maps.Marker({
      position: SMHCoord,
      map: Mainmap,
      label: "St. Mary’s General Hospital",
    });
  }

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(";");
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function checkInput(ob) {
    var invalidChars = /[^0-9]/gi;
    if (invalidChars.test(ob.value) && ob.value != "-") {
      ob.value = ob.value.replace(invalidChars, "");
    }
  }
</script>
